# Android FBE and metadata encryption with Qualcomm wrapped keys.
CONFIG_EXT4_FS=y
CONFIG_F2FS_FS=y
CONFIG_FS_ENCRYPTION=y
CONFIG_UNICODE=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_BLK_INLINE_ENCRYPTION_FALLBACK=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_DEFAULT_KEY=y
CONFIG_CRYPTO_AES_ARM64_CE_BLK=y
CONFIG_TEE=y
CONFIG_QCOMTEE=y
