CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEO_DEV=y
CONFIG_VIDEO_QCOM_CAMSS=y
CONFIG_VIDEO_GC08A8=y
CONFIG_VIDEO_S5KJNS=y
CONFIG_VIDEO_GT9764=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_REGULATOR_WL2868C=y
CONFIG_SM_CAMCC_8750=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_V4L2_FLASH_LED_CLASS=y
CONFIG_LEDS_QCOM_FLASH=y
